<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>trivia</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="underscore-min.js"></script>
    <script type="text/javascript" src="engine.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1 id="game-title"></h1>
          <hr>
          <div class="header">
             <span id="timer"></span>
          </div>
          <div id="playground">
            <p id="game-question"></p>
            <p id='element-to-show'></p>
            <div id="buttons-container"></div>      
          </div>
          <div id="results">
            <h3>Resultados</h3>
            <p id="score"></p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/template" id="buttons-tpl">
      <% _.each(elements, function(element) { %>
        <button class='choose-answer btn btn-default btn-lg'><%= element.name %></button>
      <% }) %>
    </script>
  </body>
</html>
